.textarea-info {
    margin-top: 3px;
}


/*
 Draggable div.
*/

#plugindiv {
    position: absolute;
    z-index: 100;
    top: 10px;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

#plugindivheader {
    padding: 5px;
    cursor: move;
    z-index: 101;
    background-color: #2196F3;
    color: #fff;
}

/*
*/
.plugin-content {
    padding: 2px;
}